<div class="container">
   <% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
    } 
%>
     <%- messages() %>

      <% if (user.account_firstname) { %>
        <h2>Welcome <%= user.account_firstname %></h2>
      <% }
     
    <div class="content">
        <div class="card">
            <div class="box-featured">
                
                <ul class="items">
                    <% if(user.account_type == "Admin" || user.account_type == "Client") { %>
                        <li><a href="/inv">Inventory Management</a></li>
                    <% } %>
                    <li><a href="/account/update/<%= user.account_id %>">Update Account Information</a></li>
                    
                   
                </ul>
                
            </div>
        </div>
        
        
    </div>
</div>

